<a href="https://colab.research.google.com/github/pspuri/Project3/blob/master/Decision_Tree_and_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import tree
import pandas as pd
from google.colab import files

In [3]:
pwd

'/content'

In [7]:
uploaded = files.upload()

Saving US_Accidents_2018 to US_Accidents_2018

In [0]:

import io
df = pd.read_csv(io.BytesIO(uploaded['US_Accidents_2018']))

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892615 entries, 0 to 892614
Data columns (total 51 columns):
Unnamed: 0               892615 non-null int64
ID                       892615 non-null object
Source                   892615 non-null object
TMC                      725683 non-null float64
Severity                 892615 non-null int64
Start_Time               892615 non-null object
End_Time                 892615 non-null object
Start_Lat                892615 non-null float64
Start_Lng                892615 non-null float64
End_Lat                  166932 non-null float64
End_Lng                  166932 non-null float64
Distance(mi)             892615 non-null float64
Description              892615 non-null object
Number                   325008 non-null float64
Street                   892615 non-null object
Side                     892615 non-null object
City                     892605 non-null object
County                   892615 non-null object
State                    892615 non-null object
Zipcode                  892368 non-null object
Country                  892615 non-null object
Timezone                 891537 non-null object
Airport_Code             890509 non-null object
Weather_Timestamp        880250 non-null object
Temperature(F)           874588 non-null float64
Wind_Chill(F)            167462 non-null float64
Humidity(%)              873725 non-null float64
Pressure(in)             876069 non-null float64
Visibility(mi)           871524 non-null float64
Wind_Direction           880199 non-null object
Wind_Speed(mph)          723969 non-null float64
Precipitation(in)        118340 non-null float64
Weather_Condition        871082 non-null object
Amenity                  892615 non-null bool
Bump                     892615 non-null bool
Crossing                 892615 non-null bool
Give_Way                 892615 non-null bool
Junction                 892615 non-null bool
No_Exit                  892615 non-null bool
Railway                  892615 non-null bool
Roundabout               892615 non-null bool
Station                  892615 non-null bool
Stop                     892615 non-null bool
Traffic_Calming          892615 non-null bool
Traffic_Signal           892615 non-null bool
Turning_Loop             892615 non-null bool
Sunrise_Sunset           892605 non-null object
Civil_Twilight           892605 non-null object
Nautical_Twilight        892605 non-null object
Astronomical_Twilight    892605 non-null object
Start_Time2              892615 non-null object
dtypes: bool(13), float64(14), int64(2), object(22)
memory usage: 269.9+ MB

In [0]:
df_selected_data = df.loc[:,['Start_Time','Severity','Precipitation(in)', 'Temperature(F)', 'Sunrise_Sunset']]

In [0]:
df_selected_data['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

In [0]:
# Extract year, month, day, hour and weekday
df_selected_data['Year']=df_selected_data['Start_Time'].dt.year
df_selected_data['Month']=df_selected_data['Start_Time'].dt.strftime('%b')
df_selected_data['Day']=df_selected_data['Start_Time'].dt.day
df_selected_data['Hour']=df_selected_data['Start_Time'].dt.hour
df_selected_data['Weekday']=df_selected_data['Start_Time'].dt.strftime('%a')

In [0]:
# Drop the null columns where all values are null
#df = df.dropna(axis='columns', how='all')
# Drop the null rows
df_selected_data = df_selected_data.dropna()

In [15]:
df_selected_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118092 entries, 0 to 892605
Data columns (total 5 columns):
Start_Time           118092 non-null datetime64[ns]
Severity             118092 non-null int64
Precipitation(in)    118092 non-null float64
Temperature(F)       118092 non-null float64
Sunrise_Sunset       118092 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 5.4+ MB

In [0]:
df_selected_data['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

In [0]:
# Extract year, month, day, hour and weekday
df_selected_data['Year']=df_selected_data['Start_Time'].dt.year
df_selected_data['Month']=df_selected_data['Start_Time'].dt.strftime('%b')
df_selected_data['Day']=df_selected_data['Start_Time'].dt.day
df_selected_data['Hour']=df_selected_data['Start_Time'].dt.hour
df_selected_data['Weekday']=df_selected_data['Start_Time'].dt.strftime('%a')

In [0]:
# Drop the null columns where all values are null
#df = df.dropna(axis='columns', how='all')
# Drop the null rows
df_selected_data = df_selected_data.dropna()

In [20]:
df_selected_data.head(5)

            Start_Time  Severity  Precipitation(in)  ...  Day Hour  Weekday
0  2018-12-31 23:54:51         3               0.16  ...   31   23      Mon
1  2018-12-31 22:40:11         3               0.15  ...   31   22      Mon
2  2018-12-31 12:35:54         3               0.04  ...   31   12      Mon
9  2018-12-31 22:37:23         3               0.02  ...   31   22      Mon
69 2018-11-30 15:36:28         3               0.00  ...   30   15      Fri

[5 rows x 10 columns]

In [0]:
selected_features = df_selected_data[['Hour','Precipitation(in)', 'Temperature(F)', 'Sunrise_Sunset']]

In [22]:
selected_features.head()

    Hour  Precipitation(in)  Temperature(F) Sunrise_Sunset
0     23               0.16            46.9          Night
1     22               0.15            46.4          Night
2     12               0.04            57.0            Day
9     22               0.02            25.0          Night
69    15               0.00            37.9            Day

In [23]:
df.head(2)

   Unnamed: 0         ID  ... Astronomical_Twilight          Start_Time2
0     1145140  A-1145154  ...                 Night  2018-12-31 23:54:51
1     1145142  A-1145156  ...                 Night  2018-12-31 22:40:11

[2 rows x 51 columns]

In [0]:
# df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)

#         # Then, drop the column as usual.

# df.drop(["a"], axis=1, inplace=True)

In [0]:
# df.head(2)

In [0]:
# Set features. This will also be used as your x values.
#selected_features = df[['Precipitation(in)', 'Temperature(F)', 'Sunrise_Sunset']]

In [0]:
change ={'Day':2,'Night':1}

In [28]:
selected_features[['Sunrise_Sunset']] = selected_features[['Sunrise_Sunset']].replace(change)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [0]:
# selected_features[['Date','Time']]=selected_features["Start_Time"].str.split(" ",n=1, expand = True)

In [0]:
# selected_features[['Time']]=selected_features[['Time']].astype(str)

In [0]:
# print(selected_features['Time'][0])

In [0]:
# selected_features[['Time']]=selected_features[['Time']].replace(":","")

In [33]:
selected_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118092 entries, 0 to 892605
Data columns (total 4 columns):
Hour                 118092 non-null int64
Precipitation(in)    118092 non-null float64
Temperature(F)       118092 non-null float64
Sunrise_Sunset       118092 non-null int64
dtypes: float64(2), int64(2)
memory usage: 4.5 MB

In [0]:
# selected_features['Date'] = pd.to_datetime(selected_features['Start_Time']).dt.date
# selected_features['Time'] = pd.to_datetime(selected_features['Start_Time']).dt.time

In [35]:
selected_features.head(5)

    Hour  Precipitation(in)  Temperature(F)  Sunrise_Sunset
0     23               0.16            46.9               1
1     22               0.15            46.4               1
2     12               0.04            57.0               2
9     22               0.02            25.0               1
69    15               0.00            37.9               2

In [0]:
# selected_features[["Date"]]= selected_features[["Date"]].replace("-","")

In [0]:
# selected_features.info()

In [0]:
y = df_selected_data["Severity"]

In [39]:
y.head(2)

0    3
1    3
Name: Severity, dtype: int64

In [40]:
df_selected_data.groupby(['Severity']).count()

          Start_Time  Precipitation(in)  Temperature(F)  ...    Day   Hour  Weekday
Severity                                                 ...
1                 33                 33              33  ...     33     33       33
2              71208              71208           71208  ...  71208  71208    71208
3              43121              43121           43121  ...  43121  43121    43121
4               3730               3730            3730  ...   3730   3730     3730

[4 rows x 9 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(selected_features, y, random_state=42)

In [42]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5946211428377874

In [43]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5923178538766386

In [44]:
sorted(zip(rf.feature_importances_, selected_features), reverse=True)

[(0.590519828512336, 'Temperature(F)'),
 (0.2093247155957309, 'Precipitation(in)'),
 (0.18894774433446124, 'Hour'),
 (0.011207711557471967, 'Sunrise_Sunset')]